*{
	margin: 0;
	padding: 0;
}

body{
	background: #333;
}

.content{
	width: 1000px;
	height: 400px;
	margin:50px auto;
}

@media screen and (min-width: 980px){
	.content .box{
		width: 205px;
		height:220px;
		float: left;
		margin:0 60px;
	}
}

@media screen and (max-width: 600px){
	.content .box{
		width: 205px;
		height:220px;
	}
}

.box-mission .icon{
	width: 174px;
	height: 155px;
	display: block;
	background: url(./img/mission.png) no-repeat;
	margin: 0 auto;
	transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-o-transition:all 0.2s;
	-moz-transition:all 0.2s;
}

.box-mission .icon:hover{
	transform:scale(1.2) rotate(360deg);
	-webkit-transform:scale(1.2) rotate(360deg);
	-o-transform:scale(1.2) rotate(360deg);
	-moz-transform:scale(1.2) rotate(360deg);
}

.box-play .icon{
	width: 174px;
	height: 155px;
	display: block;
	background: url(./img/play.png) no-repeat;
	margin: 0 auto;
	transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-o-transition:all 0.2s;
	-moz-transition:all 0.2s;
}

.box-play .icon:hover{
	transform:scale(1.2) rotate(360deg);
	-webkit-transform:scale(1.2) rotate(360deg);
	-o-transform:scale(1.2) rotate(360deg);
	-moz-transform:scale(1.2) rotate(360deg);
}

.box-touch .icon{
	width: 174px;
	height: 155px;
	display: block;
	background: url(./img/touch.png) no-repeat;
	margin: 0 auto;
	transition:all 0.2s;
	-webkit-transition:all 0.2s;
	-o-transition:all 0.2s;
	-moz-transition:all 0.2s;
}

.box-touch .icon:hover{
	transform:scale(1.2) rotate(360deg);
	-webkit-transform:scale(1.2) rotate(360deg);
	-o-transform:scale(1.2) rotate(360deg);
	-moz-transform:scale(1.2) rotate(360deg);
}

.box .button{
	width: 156px;
	height:45px;
	line-height: 45px;
	display: block;
	margin: 20px auto;
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bolder;
	color: #2ecc71;
	text-decoration: none;
	background: url(./img/allow.png) no-repeat 130px center;
	padding-left: 20px;
	border:2px solid rgba(255,255,255,0.8);
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	position: relative;
}

.box .button:hover{
	background-position: 140px center;
	border:2px solid rgba(255,255,255,1);
}


.box .line{
	background-color: #FFF;
	display: block;
	position: absolute;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
}

/*
	设置顶部的线条  从左向右过渡到按钮的上边框位置
	高度不变 2px
	宽度由0-》180px
*/

.box .line-top{
	width: 0px;
	height:2px;
	top:-2px;
	left:-100%;
}

.box .button:hover .line-top{
	width: 180px;
	left:-2px;
}


/*
	设置底部的线条  从右向左过渡到按钮的下边框位置
	高度不变 2px
	宽度由0-》180px
*/

.box .line-bottom{
	width: 0px;
	height:2px;
	bottom:-2px;
	right:-100%;
}

.box .button:hover .line-bottom{
	width: 180px;
	right:-2px;
}


/*
	设置左部的线条  从下向上过渡到按钮的左边框位置
	宽度不变 2px
	高度由0-》49px
*/

.box .line-left{
	width: 2px;
	height:0px;
	bottom:-100%;
	left:-2px;
}

.box .button:hover .line-left{
	height:49px;
	bottom:-2px;
}

/*
	设置右部的线条  从上向下过渡到按钮的右边框位置
	宽度不变 2px
	高度由0-》49px
*/

.box .line-right{
	width: 2px;
	height:0px;
	top:-100%;
	right:-2px;
}

.box .button:hover .line-right{
	height:49px;
	top:-2px;
}